{% extends 'layout.html' %}

{% block content %}
    <h1>FC Helper</h3>

    <div class="grid-container">
        <div class="widget" id=widget_01>
            <h3>New target system</h3>
            <form action="" method="post">
                <div class="ajacent">
                    <p>
                        <input type="text" name="system" placeholder="System">
                        <input type="text" name="region" placeholder="Region">
                        <input type="text" name="aliance" placeholder="Corp / Alliance">
                    </p>
                    <p>
                        <input type="text" name="dotlan" placeholder="Dotlan link">
                        <input type="text" name="zkill" placeholder="zKillboard link">
                    </p>
                </div>    
                <div>
                    <textarea name="remarks" rows="10" cols="60" placeholder="remarks"></textarea>
                </div>
                <br><br>
                <input type="submit" name="action" value="Save">
            </form>
        </div class="ajacent">
        <div class="widget" id=widget_02>
            <h3>Targets</h3>
            <form action="" method="POST">
                {% for item in system_list %}
                    <p>
                        <input type="submit" name="action" value="view: {{item}}">
                        <input type="submit" name="action" value="edit: {{item}}">
                        <input type="submit" name="action" value="delete: {{item}}">
                    </p>
                
                    <!--p><input type="submit" name="{{item}}">{{ item }}</p-->
                {% endfor %}
            
            </form>
            
        </div>
        <!--div class="widget" id=widget_03>

        </div -->
    </div>


{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='javascript/home.js') }}"></script>
{% endblock %}