{% extends 'layout.html' %}

{% block content %}
    <h1>SET Helper</h3>


    <div class="grid-container">
        <div class="widget" id=widget_01>
            <h3>Strip At-risk info</h3>
            <form action="" method="post">
                <textarea name="data" rows="10" cols="60">data_goes_here</textarea>
                <br><br>
                <input type="submit" name="action" value="strip">
            </form>
        </div>
        <div class="widget" id=widget_02>
            <h3>Reformat quiz questions</h3>
            <form action="" method="post">
                <textarea name="quizdata" rows="10" cols="60">data_goes_here</textarea>
                <br><br>
                <input type="submit" name="action" value="quiz">
            </form>
        </div>
        <div class="widget" id=widget_03>
            Widget 3 goes here
        </div>
    </div>


{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='javascript/home.js') }}"></script>
{% endblock %}