{% extends 'layout.html' %}

{% block content %}
    <h1>FC Helper</h3>

    <div class="grid-container">
        <div class="widget" id=widget_01>
            <h3 class="accent">View / Edit Information</h3>
            <form action="" method="post">
                <div class="ajacent">
                    <p>
                        <input type="text" name="system" placeholder="System" value="{{s_data[0]}}">
                        <input type="text" name="region" placeholder="Region" value="{{s_data[1]}}">
                        <input type="text" name="aliance" placeholder="Corp / Alliance" value="{{s_data[2]}}">
                    </p>
                    <p>
                        <input type="text" name="dotlan" placeholder="Dotlan link" value="{{s_data[3]}}">
                        <input type="text" name="zkill" placeholder="zKillboard link" value="{{s_data[4]}}">
                    </p>
                </div>    
                <div>
                    <textarea name="remarks" rows="10" cols="60" placeholder="remarks">{{s_data[5]}}</textarea>
                </div>
                <br><br>
                <input type="submit" name="action" value="Update">
            </form>
        </div class="ajacent">
        <div class="widget" id=widget_02>
            <h3>Targets</h3>
            <form action="" method="POST">
                {% for item in system_list %}
                    <p><input type="submit" name="action" value="edit: {{item}}"></p>
                {% endfor %}
            
            </form>
            
        </div>
        <!--div class="widget" id=widget_03>

        </div -->
    </div>


{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='javascript/home.js') }}"></script>
{% endblock %}